body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa; /* Cambiado a un tono similar al de tu paleta */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff; /* Color de fondo */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #0288d1; /* Color del título */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
    color: #0277bd; /* Color del texto de las etiquetas */
}

input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #0288d1; /* Color del borde */
    border-radius: 4px;
    font-size: 14px;
}

button[type="submit"] {
    background-color: #0288d1; /* Color de fondo del botón */
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

button[type="submit"]:hover {
    background-color: #0288e7; /* Color de fondo del botón al pasar el cursor */
}

.error-message {
    color: #ff0000; /* Color del mensaje de error */
    margin-top: 10px;
}
